# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/

# IDE
.idea/
*.iml
.vscode/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
coverage/

# Env (IMPORTANT)
.env
.env.*

# Android
/android/app/debug
/android/app/profile
/android/app/release
android/key.properties
android/app/*.keystore
android/app/google-services.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Runner/GoogleService-Info.plist

# Symbol & Obfuscation
app.*.symbols
app.*.map.json